{{template "header.html"}}
  <section class="hero is-fullheight">
		<section class="section">
			<div class="container">
				<h1 class="title">
					Go Chat
				</h1>
				<p class="subtitle">
					{{.content}}
				</p>
				<p>
					Welcome to the go chat web app. This web app will allow you to have a live chat with other users while using 
					a websocket to send the content live to the clients. This web app also uses Bulma and Gin to provide the 
					functionality and looks.
				</p>
				<hr />
				<div>
					<form action="/" method="post">
						<section class="section is-small">
							<div class="card">
								<div id="output" class="card-content">
									<article class="media">
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Jenny</strong>
													<br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
												</p>
											</div>
										</div>
									</article>
									<article class="media">
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Andrew</strong>
													<br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
												</p>
											</div>
										</div>
									</article>
									<article class="media">
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Jenny</strong>
													<br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
													<br /><br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis. Lorem ipsum dolor 
													sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
												</p>
											</div>
										</div>
									</article>
									<article class="media">
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Andrew</strong>
													<br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
												</p>
											</div>
										</div>
									</article>
								</div>
							</div>
						</section>
						<div class="field">
							<label class="label" for="message">Message</label>
							<div class="control is-expanded">
								<textarea id="message" class="textarea" name="message" placeholder="Message..."></textarea>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<button id="send" class="button is-link" type="submit">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
  </section>
	<script>
		let socket = null;
		let output = document.getElementById("output");

		window.onbeforeunload = function () {
			let data = {};
			
			console.log("Leaving");

			data["action"] = "left";
			socket.send(JSON.stringify(data))
		}

		document.addEventListener("DOMContentLoaded", function() {
			socket = new WebSocket("ws://localhost:8080/ws");

			socket.onopen = () => {
				console.log("successfully connected");
			}

			socket.onclose = () => {
				console.log("Closed connection");
			}

			socket.onerror = error => {
				console.log("Error");
			}

			socket.onmessage = message => {
				console.log("Message received")
				console.log(message)

				let data = JSON.parse(message.data);
				console.log("Action is", data.action);

				switch (data.action) {
					case "list_users":
						let ul = document.getElementById("users");
						while (ul.firstChild) {
							ul.removeChild(ul.firstChild);
						}

						if (data.connected_users.length > 0) {
							data.connected_users.forEach(function (item) {
								let li = document.createElement("li");
								li.appendChild(document.createTextNode(item));
								ul.appendChild(li);
							});
						}
						break;
					case "broadcast":
						output.innerHTML = output.innerHTML + data.message + "<br>";
						break;
				}
			}

			document.getElementById("message").addEventListener("keydown", function(event) {
				if (event.code === "Enter") {
					if (!socket) {
						console.log("no connection");
						event.preventDefault();
						event.stopPropagation();
						return false;
					}

					if (document.getElementById("message").value === "") {
						console.log("no message")
						event.preventDefault();
						event.stopPropagation();
						return false;
					}

					event.preventDefault();
					event.stopPropagation();

					sendMessage();
				}
			});

			document.getElementById("send").addEventListener("click", function(event) {
				event.preventDefault();
				event.stopPropagation();

				if (document.getElementById("message").value === "") {
					console.log("no message");
					return false;
				}

				sendMessage();
			})
		})

		function sendMessage() {
			let data = {};

			data["action"] = "broadcast";
			data["username"] = "Andrew";
			data["message"] = document.getElementById("message").value;

			console.log(data)

			socket.send(JSON.stringify(data));

			document.getElementById("message").value = "";
		}

	</script>
{{template "footer.html"}}