{{template "header.html"}}
  <section class="hero is-fullheight">
		<section class="section">
			<div class="container">
				<h1 class="title">
					Go Chat
				</h1>
				<p class="subtitle">
					{{.content}}
				</p>
				<p>
					Welcome to the go chat web app. This web app will allow you to have a live chat with other users while using 
					a websocket to send the content live to the clients. This web app also uses Bulma and Gin to provide the 
					functionality and looks.
				</p>
				<hr />
				<div>
					<form action="/" method="post">
						<section class="section is-small">
							<div class="card">
								<div class="card-content">
									<article class="media">
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Jenny</strong>
													<br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
												</p>
											</div>
										</div>
									</article>
									<article class="media">
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Andrew</strong>
													<br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
												</p>
											</div>
										</div>
									</article>
									<article class="media">
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Jenny</strong>
													<br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
													<br /><br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis. Lorem ipsum dolor 
													sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
												</p>
											</div>
										</div>
									</article>
									<article class="media">
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Andrew</strong>
													<br />
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros
													lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris
													sit amet dolor blandit rutrum. Nunc in tempus turpis.
												</p>
											</div>
										</div>
									</article>
								</div>
							</div>
						</section>
						<div class="field">
							<label class="label" for="message">Message</label>
							<div class="control is-expanded">
								<textarea id="message" class="textarea" name="message" placeholder="Message..."></textarea>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<button class="button is-link" type="submit">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
  </section>
{{template "footer.html"}}